<div class="d-flex flex-column flex-lg-row justify-content-md-center align-items-center mt-2">
  <button id="generateNextBtn" class="btn btn-danger text-black rounded-pill p-2 my-2 px-4 mx-2">Opps Sorry :(</button>
  <button id="likeBtn" class="btn bg-success text-black rounded-pill px-4 p-2" data-user2Id="{{user.id}}">It feels right :)</button>
</div>
<script src="../../js/addLikesOrNext.js"></script>
