<nav class="d-flex  flex-column flex-md-row justify-content-md-around mt-5 text-danger fw-bold align-items-center">
    <div class="title d-flex">
        <h2><a class="text-decoration-none text-danger" href="../">soulMatch</a></h2>
    </div>
</nav>