{{>navbar}}

<div>
  <p class="fw-bold fs-2 mb-3">{{category.name}}</p>
</div>
<div class="row row-cols-3 d-flex flex-column flex-sm-row justify-content-md-center align-items-center">
  <ul>
    {{#each category.hobbies as |hobby|}}
  <button class="btn btn-danger list-group-items flex-shrink-0 text-white fs-4 m-2 p-2 rounded-pill" data-hobby-id="{{id}}">{{name}}
  </button>
    {{/each}}
  </ul>
</div>
<div>
<a class=" text-black text-decoration-none fs-3 fw-bold" href="/mypage">NEXT</a>></button>
</div>

<style>
  .selected {
    background:#8f1823 !important;

  }
</style>
